@import "montserrat-fonts";
@import "pure-3.0.0";
@import "grids-responsive-3.0.0";

$font-regular: "montserratregular", "Montserrat", sans-serif;
$font-bold: "montserratsemibold", "Montserrat", sans-serif;
$font-black: "montserrat_alternatesblack", "Montserrat", sans-serif;
$font-italic: "montserratitalic", "Montserrat", sans-serif;

$menu-width: 300px;
$main-width: 800px;
$primary-background: #e3e9f7;
$pale-background: #f0f6f7;
$dark-background: #8ca6ab;
$nav-background: #00272f;
$round-radius-size: 0.5rem;

$text-color: $nav-background;

$margin-top: 1rem;

html {
    width: 100%;
    overflow-x: hidden;

    font-size: 18px;
}

body {
    font-family: "montserratregular", "Montserrat", sans-serif;
    color: $text-color;
    background: $primary-background;
}
i, em {
    font-family: $font-italic;
    font-style: italic;
}
b, strong {
    font-family: $font-bold;
    font-weight: bold;
}

a {
    color: $text-color;
    text-decoration: underline;
    transition: background 100ms linear, color 100ms linear;
}
a:hover {
    color: $primary-background;
    background: $text-color;
}

/* Animation support */
#wrapper, #menu-toggle, nav.primary {
    transition: left 300ms ease-out;
}
#menu-toggle span {
    transition: transform 400ms ease-in-out, opacity 200ms linear;
}
body.active {
    #wrapper {
        left: $menu-width;
    }
    #menu-toggle {
        left: $menu-width;

        span:nth-child(1) {
            transform: scaleX(1.1) rotateZ(-42deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: scaleX(1.1) rotateZ(42deg);
        }
    }
    nav.primary {
        left: $menu-width;
    }
}

#wrapper {
    position: relative;
    left: 0;
    padding-left: 0;
}

#menu-toggle {
    position: fixed;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: $nav-background;
    border-radius: 0 0 $round-radius-size 0;
    padding: $round-radius-size;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span, span:before, span:after {
        position: relative;
        display: block;
        background: #fff;
        pointer-events: none;
        width: 100%;
        height: 0.15rem;
        opacity: 1;
    }
    span:nth-child(1) {
        transform-origin: 100% 50%;
    }
    span:nth-child(3) {
        transform-origin: 100% 50%;
    }
}

nav.primary {
    width: $menu-width;
    margin-left: -$menu-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: $nav-background;

    padding-top: $margin-top;

    overflow-y: auto;

    a.header {
        display: block;
        margin: 0 0.5rem 2rem 0.5rem;
        font-family: $font-black;
        font-size: 0.9rem;
        color: #eee;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        img {
            display: block;
            width: 60%;
            height: auto;
            margin: 0 auto;
        }

    }

    ul {
        list-style: none;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                color: #fff;
                position: relative;
                padding: 0.5rem 0 0.5rem 1.5rem;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    background: #e3e9f7;
                    border-radius: $round-radius-size 0 0 $round-radius-size;
                    z-index: -1;
                    transition: all 300ms ease-in-out;
                }
            }

            a:hover {
                color: #00272f;

                &:before{
                    width: calc(100% - 0.5rem);
                }
            }
        }
        li+li {
            margin-top: 0.5rem;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main-content {
        margin: $margin-top 1rem 0 1rem;
        padding: 0;
    
        max-width: $main-width;
        flex-grow: 1;
    
        line-height: 1.6rem;

        h1 {
            font-family: $font-black;
            font-size: 2.4rem;
            margin: 4rem 0 3rem 0;
            text-align: center;
            text-transform: uppercase;
            line-height: 2.2rem;
        }

        h2 {
            font-family: $font-bold;
            font-size: 1.6rem;
            margin: 2rem 0 1rem 0;
        }

        h3 {
            font-family: $font-bold;
            font-size: 1.3rem;
            margin: 1rem 0 1rem 0;
        }

        p {

        }

        .back-to-top {
            text-align: right;
        }
    }
    
    footer {
        background: $dark-background;
        height: 3rem;
    }
}

@media (min-width: ($menu-width + $main-width)) {
    #wrapper {
        padding-left: $menu-width;
        left: 0;

        &.active {

        }
    }
    
    nav.primary {
        left: $menu-width;
    }

    #menu-toggle {
        display: none;
    }
}
