@import "pure-3.0.0";
@import "grids-responsive-3.0.0";

$menu-width: 300px;

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Montserrat, sans-serif;
    background: #e3e9f7;
}

/* Animation support */
#wrapper, #menu-toggle, nav.primary {
    transition: left 0.25s ease-out;
}
body.active {
    #wrapper {
        left: $menu-width;
    }
    #menu-toggle {
        left: $menu-width;
    }
    nav.primary {
        left: $menu-width;
    }
}

#wrapper {
    position: relative;
    left: 0;
    padding-left: 0;

    &.active #menu-toggle {
        left: 150px;
        width: 150px;
    }
}

#menu-toggle {
    position: fixed;
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    background: white;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span, span:before, span:after {
        position: relative;
        display: block;
        background: black;
        pointer-events: none;
        width: 100%;
        height: 0.2em;
    }
}

nav.primary {
    width: $menu-width;
    margin-left: -$menu-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #00272f;
    overflow-y: auto;

    ul {
        list-style: none;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 20px;
                color: #fff;
                position: relative;
                padding: 12px 0 12px 25px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    background: #e3e9f7;
                    border-radius: 20px 0 0 20px;
                    z-index: -1;
                    transition: all 300ms ease-in-out;
                }
            }

            a:hover {
                color: #00272f;

                &:before{
                    width: 95%;
                }
            }
        }
    }
}

.main-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

/*
@media (min-width: 48em) {
    #wrapper {
        padding-left: 150px;
        left: 0;

        &.active {

        }
    }
    
    nav.primary {
        left: 150px;
    }

    #menu-toggle {
        position: fixed;
        left: 150px;
        display: none;
    }
}
*/
